*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0)),url(knicks.jpg);
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 95%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 50px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline;
    margin: 0 15px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: darkorange;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #6a71ff;
    position: absolute;
    left: 0;
    bottom: -5.5px;
    transition: 0.35s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: darkorange;
}
.content h1 {
    font-size: 70px;
    margin-top: 80px;
    font-style: italic;
}
.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 8%;
}
.players {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(235px, 1fr));
    grid-gap: 115px;
}
.players img {
    width: 100%
}